<div class="border-dashed border-2"
     style="width:100%; height: 100%; background-color: @BgColor; border-color: @BorderColor; border-radius: inherit"></div>

@code {
    private string BgColor => Colors.Gray.Lighten3;

    private string BorderColor => Colors.Gray.Darken3;
}
