<div
    class="border-dashed border-2"
    style="width: 120px; height: 120px; background-color: @BgColor; border-color: @BorderColor; border-radius: inherit; cursor: pointer; display:  flex; justify-content: center; align-items: center;"
    @onclick="() => OnClick()">
    @if (Filled)
    {
        <MudIcon
            Icon="@Icons.Material.Filled.Check"
            Size="Size.Large"
            Color="@Color.Secondary"/>
    }
</div>

@code {

    [Parameter] public bool Filled { get; set; }

    [Parameter] public required Action OnClick { get; set; }

    private string BgColor => Filled
        ? Colors.Gray.Darken3
        : Colors.Gray.Lighten2;

    private string BorderColor => Filled
        ? Colors.Gray.Lighten3
        : Colors.Gray.Darken4;

}
